.html {
      font-family: ;
      font-size: ;

}

.body {
      background: #e5bace;
}

.nav {
      background: #e1f2f7 ;
      text-transform: uppercase;

}

.nanny .img {

}

.drop .img {

}

.implosion .img{

}

.ship .img{

}

.mikkeller .img{

}